<!DOCTYPE html>
<html>
<head>
    <title>Game></title>
</head>
<body>
    <p>  
    <h1>Let me ask you some questions...</h1>
    </p>
    <form action = '/madlib'>
    <p>
    Pick a color:
    <input type = "radio" name = "color" value = "blue">
    <label> Blue </label>
    <input type = "radio" name = "color" value = "green">
    <label> Green </label>
    <input type = "radio" name = "color" value = "yellow">
    <label> Yellow </label>
    </p>
    <p>
    Choose a person(choose one):
    <input type = "checkbox" name = "person" value = "Buddha">
    <label> Buddha </label>
    <input type = "checkbox" name = "person" value = "Abe Lincoln">
    <label> Abe Lincoln </label>
    <input type = "checkbox" name = "person" value = "Cat Woman">
    <label> Cat Woman </label>
    </p>
    <p>
    Select a noun:
    <select name = "noun">
    <option value = "surf board">surfboard</option>
    <option value = "pumpkin pie">pumpkin pie</option>
    <option value = "chicken">chicken</option>
    </select>
    </p>
    <p>
    Select an adjective:
    <select name = "adjective">
    <option value = "witty">witty</option>
    <option value = "fearless">fearless</option>
    <option value = "immense">immense</option> 
    </select>   
    </p>
    <button type="submit">Make My Madlib</button>
</form>
</body>
</html>